name: Workflow
on:
  push:
    branches:
      - 'main'
  pull_request: { }

permissions:
  contents: read

jobs:
  required-meta:
    permissions:
      contents: read
      pull-requests: write
      checks: write
    uses: BlindfoldedSurgery/actions-meta/.github/workflows/required.yml@v2

  test:
    name: Test
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - dart-version: "3.8"
          - dart-version: "3.9"
          - dart-version: "3.10"
            collect-coverage: "true"
    steps:
      - name: Check out repo
        uses: actions/checkout@v5
      - uses: jdx/mise-action@v3
        with:
          mise_toml: |
            [tools]
            dart = "${{ matrix.dart-version }}"
      - name: Get dependencies
        run: dart pub get
      - name: Run tests
        run: dart test --file-reporter json:test-results.json --coverage=.coverage
      - name: Convert coverage file package
        if: matrix.collect-coverage == 'true'
        run: |
          dart pub global activate coverage
          dart pub global run coverage:format_coverage --report-on=lib --lcov -o ./.coverage/lcov.info -i ./.coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        if: matrix.collect-coverage == 'true'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: .coverage/lcov.info

  check-format:
    name: Check Format
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repo
        uses: actions/checkout@v5
      - uses: jdx/mise-action@v3
      - name: Check example formatting
        run: dart format example --set-exit-if-changed
      - name: Check lib formatting
        run: dart format lib --set-exit-if-changed
      - name: Check test formatting
        run: dart format test --set-exit-if-changed

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repo
        uses: actions/checkout@v5
      - uses: jdx/mise-action@v3
      - name: Get dependencies
        run: dart pub get
      - name: Run Analysis
        run: dart analyze --fatal-infos

  all-checks-passed:
    runs-on: ubuntu-24.04
    if: "!cancelled() && github.event_name == 'pull_request'"
    needs:
      - test
      - check-format
      - lint
    steps:
      - run: |
          if [ "true" == "${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'skipped') }}" ]
          then
            echo "A required job failed"
            exit 1
          else
            echo "All required jobs passed"
          fi
